# TERM FREQUENCY - INVERSE DOCUMENT FREQUENCY

Merupakan salah satu metode statistik dalam mengukur seberapa penting suatu kata terhadap suatu dokumen tertentu yang terbentuk dari sekumpulan kalimat atau corpus.

## DATASET

In [1]:
corpus = [
          'the house had a tiny little mouse',
          'the cat saw the mouse',
          'the mouse ran away from the cat',
          'the cat finally got the mouse',
          'the end of the cat story',
         ]

corpus

['the house had a tiny little mouse',
 'the cat saw the mouse',
 'the mouse ran away from the cat',
 'the cat finally got the mouse',
 'the end of the cat story']

## TF-IDF WEIGHTS DENGAN `TfidfVectorizer`

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(stop_words ='english')
response = vectorizer.fit_transform(corpus)
print(response)

  (0, 7)	0.30931749359185684
  (0, 6)	0.5490363340004775
  (0, 11)	0.5490363340004775
  (0, 5)	0.5490363340004775
  (1, 9)	0.7821097692612783
  (1, 1)	0.44062700145705425
  (1, 7)	0.44062700145705425
  (2, 0)	0.6160645062907986
  (2, 8)	0.6160645062907986
  (2, 1)	0.3470799966703276
  (2, 7)	0.3470799966703276
  (3, 4)	0.6160645062907986
  (3, 3)	0.6160645062907986
  (3, 1)	0.3470799966703276
  (3, 7)	0.3470799966703276
  (4, 10)	0.6569003716341058
  (4, 2)	0.6569003716341058
  (4, 1)	0.3700862108940939

In [22]:
vectorizer.get_feature_names()

['away',
 'cat',
 'end',
 'finally',
 'got',
 'house',
 'little',
 'mouse',
 'ran',
 'saw',
 'story',
 'tiny']

In [35]:
import pandas as pd

df = pd.DataFrame(
                  response.todense().T, 
                  index = vectorizer.get_feature_names_out(),
                  columns =[f'D{i+1}' for i in range(len(corpus))]
                 )

df

               D1        D2        D3        D4        D5
away     0.000000  0.000000  0.616065  0.000000  0.000000
cat      0.000000  0.440627  0.347080  0.347080  0.370086
end      0.000000  0.000000  0.000000  0.000000  0.656900
finally  0.000000  0.000000  0.000000  0.616065  0.000000
got      0.000000  0.000000  0.000000  0.616065  0.000000
house    0.549036  0.000000  0.000000  0.000000  0.000000
little   0.549036  0.000000  0.000000  0.000000  0.000000
mouse    0.309317  0.440627  0.347080  0.347080  0.000000
ran      0.000000  0.000000  0.616065  0.000000  0.000000
saw      0.000000  0.782110  0.000000  0.000000  0.000000
story    0.000000  0.000000  0.000000  0.000000  0.656900
tiny     0.549036  0.000000  0.000000  0.000000  0.000000